name: PR Test

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  verify-pr-title:
    name: Verify PR Title
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
